/*Nav*/
#colorNav{
    background-color: green;
}

.verde{
  background-color: rgb(55, 194, 55);
}

/*Footer*/
#colorFooter{
    background-color: green;
}
li{
    list-style: none;
}

a{
  color: green;
}

.product-image {
  width: 250px; 
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.product-card {
  width: 450px;
  margin: 20px;
}

.product-description-image {
  width: 500px; 
  display: block;
  margin: auto; 
}

.align-right {
  text-align: right;
}

.price-and-add-to-cart {
  margin-top: 400px; 
}

/*Portada*/
#colorAsidePortada{
    background-color: rgb(12, 68, 12);
}

#colorMainPortada{
    background-color: cornsilk;
}

.btn{
  background-color: green;
  color: white;
}

.btn:hover{
  background-color: green;
  color: white;
}

.productImage {
  width: 200px;
  height: auto;
}

.anchologin{
  width: 40%;
}





