/*Nav*/
#colorNav{
    background-color: green;
}


/*Footer*/
#colorFooter{
    background-color: green;
}
li{
    list-style: none;
}



/*Portada*/
#colorAsidePortada{
    background-color: rgb(12, 68, 12);
}

#colorMainPortada{
    background-color: cornsilk;
}



/*Tabla*/
.limited-width-table {
    border-collapse: collapse;
    width: 80%; /* Ancho máximo de la tabla */
    margin: 0 auto; /* Centra la tabla horizontalmente */
    border: 1px solid #000; /* Borde para la tabla */
  }
  
  .limited-width-table th,
  .limited-width-table td {
    border: 1px solid #000; /* Borde para las celdas */
    padding: 2px; /* Ajuste del relleno */
  }

  
  
  th {
    background-color: #f2f2f2; /* Color de fondo para los encabezados */
  }
  
  tbody tr:last-child td {
    border-bottom: none; /* Elimina la línea inferior en la última fila del cuerpo de la tabla */
  }

  tr {
    padding: 0; /* Quitar el relleno de las filas */
  }

/*cards*/

