<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragmentos/header::header}">

</head>

<body>
	<nav th:replace="~{fragmentos/navAdmin::navAdmin}" id="colorNav"
		class="navbar navbar-expand-sm text-light bg-black">

	</nav>




	<div class="container mt-3">
		<a th:href="@{/nuevoSocios}"><i class="bi bi-plus-circle-fill">Añadir</i></a>
		<h2>Lista de Socios</h2>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Numero</th>
					<th>Nombre</th>
					<th>Apellidos</th>
					<th>Telefono</th>
					<th>Email</th>
					<th>Dirección</th>
					<th>Provincia</th>
					<th>Codigo <br> Postal</th>
					<th>DNI</th>
					<th>Nombre Usuario</th>
					<th>Fecha <br> de <br> nacimiento</th>
					<th>Editar</th>
					<th>Borrar</th>
				</tr>
			</thead>

			<tbody>



				<tr th:each="socio : ${listaSocios}">
					<td th:text="${socioStat.count}"></td>
					<td th:text="${socio.nombre}"></td>
					<td th:text="${socio.apellidos}"></td>
					<td th:text="${socio.telefono}"></td>
					<td th:text="${socio.email}"></td>
					<td th:text="${socio.direccion}"></td>
					<td th:text="${socio.provincia}"></td>
					<td th:text="${socio.codigoPostal}"></td>
					<td th:text="${socio.dni}"></td>
					<td th:text="${socio.username}"></td>
					<td th:text="${#temporals.format(socio.fechaDeNacimiento, 'YYYY-MM-dd')}"></td>
					<td>
						<a th:href="@{/editarSocio/{id}(id=${socio.id})}"><i class="bi bi-pencil-square"></i></a>
					</td>
					<td>
						<a class="btn fondoBlanco" data-bs-toggle="modal"
							th:attr="data-bs-target='#removeSocio'+ '-' + ${socio.id}">
							<i class=" bi bi-trash text-dark"></i>
						</a>
						<div class="modal fade" th:id="removeSocio + '-' + ${socio.id}">
							<div class="modal-dialog remove">
								<div class="modal-content">

									<div class="modal-header fondoAzul border-1">
										<h4 class="modal-title mx-auto text-white">¡Alerta!
										</h4>
										<button type="button" class="btn-close mx-0" data-bs-dismiss="modal"></button>
									</div>

									<div class="modal-body bg-white">
										<p class="text-dark mb-4 fw-bolder">¿Quieres borrar este cliente?</p>
										<div class="d-grid gap-2">
											<a class="btn fondoAzul" th:href="@{/borrarSocio/{id}(id=${socio.id})}">
												<i class="bi bi-trash me-2"></i> Borrar cliente
											</a>
										</div>
									</div>

								</div>
							</div>
						</div>

					</td>
				</tr>
			</tbody>
		</table>
	</div>


</body>

</html>