<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{fragmentos/header::header}"> 
<body>
    <nav th:replace="~{fragmentos/nav::nav}" id="colorNav" class="navbar navbar-expand-sm">
   
      </nav>

      <main id="colorMainPortada" class="d-flex flex-column justify-content-between min-vh-100">

		<div class="container py-4 border">
			<h1 th:text="${producto.nombre}" class="mb-4 text-center"></h1>
			<div class="row">
				<!-- Columna izquierda -->
				<div class="col-md-6">
					<img th:src="${producto.imagen}" width="100%" alt="Nombre del Producto" class="mb-4">
					<p th:text="${producto.descripcion}" class="my-3">Descripción: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ac velit efficitur, consectetur odio eu, tempus ligula.</p>
				</div>
				<!-- Columna derecha -->
				<form th:action="@{/productoACarrito/{id}(id=${producto.id})}" method="get">
					<!-- Enviar el ID del producto al controlador -->
					<input type="hidden" name="id" th:value="${producto.id}" />
					<!-- Botón para agregar el producto al carrito -->
					<button type="submit">Agregar al carrito</button>
				</form>
			</div>
		</div>

      </main>
	  
	  <footer th:replace="~{fragmentos/footer::footer}" id="colorFooter" class="container-fluid text-center text-light"> </footer>


</body>
</html>