<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{fragmentos/header::header}"> 
<body>
    <nav th:replace="~{fragmentos/nav::nav}" id="colorNav" class="navbar navbar-expand-sm">
   
      </nav>

      <main id="colorMainPortada">

		<div class="card col-4 m-5" th:each="producto : ${listaProductos}" style="width:450px">
				           <img class="card-img-top" th:src="${producto.imagen}" alt="Card image">
				           <div class="card-body">
				             <h4 th:text="${producto.nombre}" class="card-title"></h4>
				             <p  th:text="${producto.precio + '€'}"class="card-text"></p>
							 <a th:href="@{/descripcionDelProducto}" class="btn btn-primary">Ir al producto</a>
				           </div>
				         </div>

      </main>
	  
	  <footer th:replace="~{fragmentos/footer::footer}" id="colorFooter" class="container-fluid text-center text-light"></footer>


</body>
</html>