<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

	<head th:replace="~{fragmentos/header::header}"></head>

    <body>

		<nav th:replace="~{fragmentos/nav::nav}" id="colorNav" class="navbar navbar-expand-sm text-light"></nav>


          <main>
            <div class="container mt-3 text-center">
                <h2 class="text-center">¿Eres socio?</h2>
                <h4 class="text-center">Si lo eres inicia sesión aquí</h4>
				<form method="POST" action="#" th:action="@{/login}">
					<input type="text" id="username" name="username" placeholder="Username" required autofocus> 
					<input type="password" name="password" id="password" placeholder="Password" required>
					<input type="submit" name="enviar" value="Enviar" />
				</form>
            </div>
         </main>
    </body>
</html>