<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{fragmentos/header::header}"> 
   
</head>
<body>
	
	<div sec:authorize="hasRole('ROLE_ADMIN')">
			<nav th:replace="~{fragmentos/navAdmin::navAdmin}"></nav>
		</div>
		<div sec:authorize="hasRole('ROLE_USER')">
			<nav th:replace="~{fragmentos/nav::nav}"></nav>
		</div>

  
        <main id="colorMainPortada" class="row justify-content-center min-vh-100">
			
			<div class="container mt-5">
			  <table class="table table-bordered">
			    <thead>
			      <tr>
			        <th>ID Venta</th>
			        <th>Total Venta</th>
			        <th>Nombre del Producto</th>
			        <th>Cantidad</th>
			        <th>Subtotal</th>
			      </tr>
			    </thead>
			    <tbody>
			      <!-- Iterar sobre las ventas -->
			      <tr th:each="venta : ${ventas}">
			        <td th:text="${venta.id}"></td>
			        <td th:text="${venta.total}"></td>
			        <!-- Si hay líneas de venta -->
			        <td>
			          <!-- Iterar sobre las líneas de venta -->
			          <span th:each="lineaVenta : ${venta.lineaDeVenta}">
			            <span th:text="${lineaVenta.producto.nombre}"></span><br/>
			          </span>
			        </td>
			        <!-- Si no hay líneas de venta -->
			        <td th:unless="${venta.lineaDeVenta.size() > 0}">-</td>
			        <!-- Si hay líneas de venta -->
			        <td>
			          <!-- Iterar sobre las líneas de venta -->
			          <span th:each="lineaVenta : ${venta.lineaDeVenta}">
			            <span th:text="${lineaVenta.cantidadProducto}"></span><br/>
			          </span>
			        </td>
			        <!-- Si no hay líneas de venta -->
			        <td th:unless="${venta.lineaDeVenta.size() > 0}">-</td>
			        <!-- Si hay líneas de venta -->
			        <td>
			          <!-- Iterar sobre las líneas de venta -->
			          <span th:each="lineaVenta : ${venta.lineaDeVenta}">
			            <span th:text="${lineaVenta.subTotal}"></span><br/>
			          </span>
			        </td>
			        <!-- Si no hay líneas de venta -->
			        <td th:unless="${venta.lineaDeVenta.size() > 0}">-</td>
			      </tr>
			    </tbody>
			  </table>
			</div>

      
        </main>


      <footer th:replace="~{fragmentos/footer::footer}" id="colorFooter" class="container-fluid text-center text-light"> </footer>
	
</body>
</html>