<!DOCTYPE html>
<html lang="es">

<head th:replace="~{fragmentos/header::header}"></head>

<body>

    <nav th:replace="~{fragmentos/nav::nav}" id="colorNav" class="navbar navbar-expand-sm text-light"></nav>


    <main id="colorMainPortada" 	class="d-flex flex-column justify-content-between min-vh-100">

		<div class="profile text-center">
			
		    <h2 th:text="${usuario.username}" class="my-3">Nombre de Usuario</h2>
			<p th:text="${usuario.nombre}" class="my-3"></p>
		    <p th:text="${usuario.apellidos}" class="my-3"></p>
			<p th:text="${usuario.telefono}" class="my-3"></p>
			<p th:text="${usuario.email}" class="my-3"></p>
			<p th:text="${usuario.direccion}" class="my-3"></p>
			<p th:text="${usuario.provincia}" class="my-3"></p>
			<p th:text="${usuario.codigoPostal}" class="my-3"></p>
			<p th:text="${usuario.dni}" class="my-3"></p>
			<p th:text="${usuario.password}" class="my-3"></p>
			<p th:text="${usuario.fechaDeNacimiento}" class="my-3"></p>
		</div>
		
		
		<footer th:replace="~{fragmentos/footer::footer}" id="colorFooter" class="container-fluid text-center text-light"> </footer>
		
    </main>
</body>

</html>